.app {
    font-family: 'Merienda', sans-serif;

    .horizontal_line {
        width: 240px;
        border: 1px solid #000;
        opacity: 1;
    }

    .search_filter {        
        gap: 80px;
        padding-top: 60px;
    }
}