.filter {
    display: flex;

    label {
        padding-top: 5px;
        font-size: 14px;
    }

    ul {
        display: flex;
        gap: 5px;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            width: 75px;
            height: 30px;
            box-shadow: 4px 4px 20px 0px #00000040;
            cursor: pointer;

            a {
                text-decoration: none;
                color: #000;
            }
        }

        li.active {
            font-weight: bold;
            text-decoration: underline;
        }
    }
}